/* -------------------- /max-width:1208px ---------------------- */
@media(max-width:1200px) {
    .banner {
        .banner-container {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 600px 400px 400px;
            grid-template-areas:
                'h h h h h h h h h h h h'
                'w w w w w w m m m m m m'
                'K K K K K K A A A A A A';
        }
    }
}

/* -------------------- /max-width:1200px ---------------------- */

/* -------------------- max-width:992px ---------------------- */
@media(max-width:992px) {
    .header {
        .navbar {
            .nav-menu {
                position: absolute;
                top: 100px;
                left: -100%;
                width: 100%;
                padding: 30px 30px;
                flex-direction: column;
                background-color: #F6F6F6;
                z-index: 10000;

                &.active {
                    left: 0;
                }

                li {
                    .drop-menu {
                        position: static;
                        visibility: visible;
                        opacity: 1;
                        width: 100%;
                        max-height: 0;
                        transition: none;
                    }

                    a {
                        display: flex;
                        justify-content: space-between;
                    }

                    .desktop-menu {
                        display: none;
                    }

                    .mobile-menu {
                        display: block;
                        font-size: 1.6rem;
                        font-weight: 500;
                        color: #2a2a2a;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                    }
                }
            }

            .hamburger {
                display: block;
            }
        }
    }

    .hamburger.active .line:nth-child(2) {
        background-color: transparent;
    }

    .hamburger.active .line:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }

    .hamburger.active .line:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    #show-menu:checked~.drop-menu {
        max-height: 100%;
        margin-top: 20px;
        transition: none;
    }

    #show-menu:checked~.drop-menu {
        max-height: 100%;
    }

    #show-menu:checked~.mobile-menu i {
        content: '\f106';
    }

    .NewLetter {
        .NewLetter-container {
            @include max-width;
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }
}

/* -------------------- /max-width:992px ---------------------- */

/* -------------------- /max-width:768px ---------------------- */
@media(max-width:768px) {
    .header {
        height: 80px;

        .navbar {
            padding: 0 20px;

            .nav-menu {
                top: 80px;
                padding: 30px 20px;

                li {
                    .mobile-menu {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    .banner {
        .banner-container {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(5, 600PX);
            grid-template-areas:
                'h h h h h h h h h h h h'
                'w w w w w w w w w w w w'
                'm m m m m m m m m m m m'
                'K K K K K K K K K K K K'
                'A A A A A A A A A A A A';
        }
    }

    .menLatest {
        padding: 75px 0;

        .menLatest-title {
            padding: 0 20px;
            padding-bottom: 50px;
        }

        .menLatest-container {
            padding: 0 20px;
        }
    }

    .ExploreProduct {
        padding: 75px 0;

        .ExploreProduct-container {
            padding: 0 20px;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .socialMedia {
        padding: 75px 0;

        .socialMedia-title {
            padding: 0 20px;
            padding-bottom: 50px;
        }

        .socialMedia-container {
            padding: 0 20px;
        }
    }

    .NewLetter {
        .NewLetter-container {
            padding: 0 20px;
        }
    }

    .footer{
        .footer-container{
            @include max-width;
            padding: 0 20px;
            padding-top: 70px;
            padding-bottom: 30px;
            grid-template-columns: 1fr 1fr;
        }
    }
}

/* -------------------- /max-width:768px ---------------------- */

/* -------------------- /max-width:568px ---------------------- */
@media(max-width:568px) {
    .header {
        .navbar {
            padding: 0 12px;

            .logo img {
                width: 140px;
            }

            .nav-menu {
                padding: 30px 12px;

                li {
                    .mobile-menu {
                        font-size: 1.4rem;
                    }

                    a {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    .banner {
        .banner-container {
            .hexa-left-items {
                .banner-img {
                    padding-left: 30px;

                    h1 {
                        font-size: 3.5rem;
                    }

                    p {
                        font-size: 1.4rem;
                    }

                    .banner-btn {
                        font-size: 1.4rem;
                    }
                }
            }

            .women-right-items {
                .banner-img {
                    h3 {
                        font-size: 2.2rem;
                    }

                    p {
                        font-size: 1.4rem;
                    }

                    .banner-overlay {
                        h2 {
                            font-size: 2rem;
                        }

                        p {
                            font-size: 1.4rem;
                        }
                    }
                }
            }

            .men-right-items {
                .banner-img {
                    h3 {
                        font-size: 2.2rem;
                    }

                    p {
                        font-size: 1.4rem;
                    }

                    .banner-overlay {
                        h2 {
                            font-size: 2rem;
                        }

                        p {
                            font-size: 1.4rem;
                        }
                    }
                }
            }

            .Kids-right-items {
                .banner-img {
                    h3 {
                        font-size: 2.2rem;
                    }

                    p {
                        font-size: 1.4rem;
                    }

                    .banner-overlay {
                        h2 {
                            font-size: 2rem;
                        }

                        p {
                            font-size: 1.4rem;
                        }
                    }
                }
            }

            .Accessories-right-items {
                .banner-img {
                    h3 {
                        font-size: 2.2rem;
                    }

                    p {
                        font-size: 1.4rem;
                    }

                    .banner-overlay {
                        h2 {
                            font-size: 2rem;
                        }

                        p {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }

    .menLatest {
        padding: 75px 0;

        .menLatest-title {
            padding: 0 12px;
            padding-bottom: 50px;

            h2 {
                font-size: 3rem;
            }

            p {
                font-size: 1.4rem;
            }
        }

        .menLatest-container {
            padding: 0 12px;

            .owl-carousel {
                .menLatest-items {
                    .menLatest-info {
                        .menLatest-left {
                            h3 {
                                font-size: 1.8rem;
                            }

                            span {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .ExploreProduct {
        padding: 75px 0;

        .ExploreProduct-container {
            padding: 0 12px;
            grid-template-columns: repeat(1, 1fr);

            .ExploreProduct-left {
                h2 {
                    font-size: 3rem;
                }

                h3 {
                    font-size: 1.4rem;
                }

                p {
                    font-size: 1.4rem;
                }
            }

            .ExploreProduct-right {
                grid-template-columns: repeat(1, 1fr);

                .Explore-items {
                    .Explore-img {
                        height: 500px;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        h3 {
                            font-size: 2rem;
                        }

                        p {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }

    .socialMedia {
        padding: 75px 0;

        .socialMedia-title {
            padding: 0 12px;
            padding-bottom: 50px;

            h2 {
                font-size: 3rem;
            }

            p {
                font-size: 1.4rem;
            }
        }

        .socialMedia-container {
            padding: 0 12px;
        }
    }

    .NewLetter {
        .NewLetter-container {
            padding: 0 12px;

            .NewLetter-left {
                margin-right: 0px;
                h2 {
                    font-size: 2.8rem;
                }

                p {
                    font-size: 1.4rem;
                }
                form{
                    grid-template-columns: 1fr;
                    .NewLetter-btn{
                        width: 55px;
                        height: 45px;
                        display: block;
                    }
                }
            }
        }
    }

    .footer{
        .footer-container{
            @include max-width;
            padding: 0 12px;
            padding-top: 70px;
            padding-bottom: 30px;
            grid-template-columns: 1fr;
            .footerAbout{
                display: flex;
                flex-direction: column;
                img{
                    width: 170px;
                }
            }
            .footerLink{
                .footer-title{
                    h2{
                        font-size: 1.5rem;
                    }
                }
                .footer-list{
                    ul{
                        a{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}

/* -------------------- /max-width:568px ---------------------- */

/* -------------------- /max-width:378px ---------------------- */
@media(max-width:378px) {
    .header {
        height: 80px;

        .navbar {
            padding: 0 12px;

            .logo img {
                width: 120px;
            }

            .nav-menu {
                top: 80px;
                padding: 30px 12px;

                li {
                    .mobile-menu {
                        font-size: 1.2rem;
                    }

                    a {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .banner {
        .banner-container {
            .hexa-left-items {
                .banner-img {
                    padding-left: 30px;

                    h1 {
                        font-size: 3rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }

                    .banner-btn {
                        font-size: 1.2rem;
                    }
                }
            }

            .women-right-items {
                .banner-img {
                    h3 {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }

                    .banner-overlay {
                        h2 {
                            font-size: 1.8rem;
                        }

                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .men-right-items {
                .banner-img {
                    h3 {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }

                    .banner-overlay {
                        h2 {
                            font-size: 1.8rem;
                        }

                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .Kids-right-items {
                .banner-img {
                    h3 {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }

                    .banner-overlay {
                        h2 {
                            font-size: 1.8rem;
                        }

                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .Accessories-right-items {
                .banner-img {
                    h3 {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }

                    .banner-overlay {
                        h2 {
                            font-size: 1.8rem;
                        }

                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    .menLatest {
        padding: 75px 0;

        .menLatest-title {
            padding: 0 12px;
            padding-bottom: 50px;

            h2 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.2rem;
            }
        }

        .menLatest-container {
            padding: 0 12px;

            .owl-carousel {
                .menLatest-items {
                    .menLatest-info {
                        .menLatest-left {
                            h3 {
                                font-size: 1.6rem;
                            }

                            span {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .ExploreProduct {
        padding: 75px 0;

        .ExploreProduct-container {
            padding: 0 12px;
            grid-template-columns: repeat(1, 1fr);

            .ExploreProduct-left {
                h2 {
                    font-size: 2.5rem;
                }

                h3 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: 1.2rem;
                }
            }

            .ExploreProduct-right {
                grid-template-columns: repeat(1, 1fr);

                .Explore-items {
                    .Explore-img {
                        height: 500px;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        h3 {
                            font-size: 1.8rem;
                        }

                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    .socialMedia {
        padding: 75px 0;

        .socialMedia-title {
            padding: 0 12px;
            padding-bottom: 50px;

            h2 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.2rem;
            }
        }

        .socialMedia-container {
            padding: 0 12px;
        }
    }

    .NewLetter {
        .NewLetter-container {
            padding: 0 12px;
            .NewLetter-left{
                margin-right: 0px;
                h2{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1.2rem;
                }
            }
            .NewLetter-items{
                .NewLetter-location{
                    padding-bottom: 30px;
                    h3{
                        font-size: 1.4rem;
                    }
                    p{
                        font-size: 1.2rem;
                    }
                }
                .NewLetter-phone{
                    padding-bottom: 30px;
                    h3{
                        font-size: 1.4rem;
                    }
                    p{
                        font-size: 1.2rem;
                    }
                }
                .NewLetter-office{
                    h3{
                        font-size: 1.4rem;
                    }
                    p{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .footer{
        .footer-container{
            @include max-width;
            padding: 0 12px;
            padding-top: 70px;
            padding-bottom: 30px;
            .footerAbout{
                display: flex;
                flex-direction: column;
                img{
                    width: 160px;
                }
                p{
                    font-size: 1.2rem;
                }
            }
            .footerLink{
                .footer-title{
                    h2{
                        font-size: 1.4rem;
                    }
                }
                .footer-list{
                    ul{
                        a{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
        .footer-bottom{
            padding: 0 12px;
            .foot-bottom-container{
                p{
                    font-size: 1.2rem;
                }
                ul{
                    li{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}

/* -------------------- /max-width:568px ---------------------- */